/* - - - - - GENERAL - - - - -  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background: #000;
  /* font-family: "Sofia", sans-serif; */
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
}

/* - - - - - BUTTON - - - - -  */
.center {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.outer {
  background: #111;
  margin: 0 50px;
  position: relative;
}
.button,
.first-button,
.second-button,
.third-button,
.fourth-button,
.fifth-button {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  border-radius: 50px;
  height: 70px;
  width: 220px;
}

.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.outer button {
  background: #020202;
  color: #f2f2f2;
  outline: none;
  border: none;
  font-size: 20px;
  z-index: 9;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.button button {
  height: 60px;
  width: 210px;
  border-radius: 40px;
}
.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
}
.button span {
  border-radius: 50px;
}
.outer:hover span:nth-child(1) {
  filter: blur(10px);
}
.outer:hover span:nth-child(2) {
  filter: blur(40px);
}
/* pink-magenta-blue */
.outer:hover {
  background: linear-gradient(#aa3bff, #3bdeff, #ff3bf5);
  animation: rotate 3.5s linear infinite;
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@media (max-width: 640px) {
  .center {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .outer {
    margin: 50px 0;
  }
}

/* - - - - - ESSAY PAGE - - - - -  */

.header {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 300%;
}
.article-section {
  font-size: 130%;
  margin: 3%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.essay {
  color: #d3d3d3;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav-buttons-footer {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

/* - - - - - HIDDEN ELEMENTS - - - - -  */
.hidden {
  display: none;
}
